<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">@fulano</div>
    <div class="panel-body">
      <h3>
          Ontem visitei seu perfil 55 vezes, hoje foi só 53 vezes, estou esquecendo você viu, fica esperta.
      </h3>
    </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading">@fulano</div>
      <div class="panel-body">
        <h3>
          "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
          "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
        </h3>
      </div>
    </div>
  </div>